<div class="container">
  <div class="row mt-4" style="text-align: center">
    <div class="col-3">
      <div class="mat">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>Critical Defects</mat-card-title>
            <mat-card-subtitle>10 defects</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>This is Critical Defects</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <div class="col-3">
      <div class="mat">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>High Defects</mat-card-title>
            <mat-card-subtitle>5 defects</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>This is High Defects</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <div class="col-3">
      <div class="mat">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>Medium Defects</mat-card-title>
            <mat-card-subtitle>3 defects</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>This is Medium Defects</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <div class="col-3">
      <div class="mat">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>Low Defects</mat-card-title>
            <mat-card-subtitle>50 defects</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>This is Low Defects</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <div class="row mr-2 mt-5">
      <div class="col-6">
        <div style="display: block">
          <canvas
            baseChart
            [data]="pieChartData"
            [labels]="pieChartLabels"
            [chartType]="pieChartType"
            [options]="pieChartOptions"
            [plugins]="pieChartPlugins"
            [legend]="pieChartLegend"
          >
          </canvas>
        </div>
      </div>

      <div class="col-6">
        <canvas
          baseChart
          width="300"
          height="180"
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [colors]="lineChartColors"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"
          [plugins]="lineChartPlugins"
        >
        </canvas>
      </div>
    </div>

    
    <div class="row mt-5 mb-0" style="text-align:end;">
      <div class="col12">
    <button (click)="exportExcel()" class="btn btn-primary" style="width: 5%;">Export</button>
    <!-- <button (click)="exportExcel()" style="width: 5%;">
      <img src="../../../assets/Excl-svg.svg" alt="">
    </button> -->

   </div>
  </div>
    <mat-form-field appearance="standard">
      <mat-label>Filter</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Ex. Mia"
        #input
      />
    </mat-form-field>


   
    <div class="row mb-5">
      <div class="col-12">

    <div class="mat-elevation-z8 mb-4">
      <table #table mat-table [dataSource]="dataSource" matSort>
        <!-- //(click)="addItem()" -->
   
         
        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
          <td mat-cell *matCellDef="let row">{{ row.id }}</td>
        </ng-container>

        <!-- Progress Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>status</th>
          <td mat-cell *matCellDef="let row">{{ row.status }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell *matCellDef="let row">{{ row.name }}</td>
        </ng-container>

        <!-- Fruit Column -->
        <ng-container matColumnDef="Module">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Module</th>
          <td mat-cell *matCellDef="let row">{{ row.Module }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">
            No data matching the filter "{{ input.value }}"
          </td>
        </tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>

    <!-- <p>
      Worls
  </p> -->
  </div>
</div>
</div>
</div>
