.example-card{
  // display: inline-block;
  // margin-left: 30px;
    margin: 1.5%;
    max-width: 500px;
    display: inline-block;
    border: 1px solid black;  
}


table {
    width: 100%; 
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
    text-align: left;
  }

  .example-card {
    max-width: 300px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  // .export{
  //   margin-top: 20px;
    
  // }
  
  // .container{
  //   align-content: center;
  //   margin-top: 20px;
  // }

// .mat{
//   height: 50px;
// }

.example-card{
  height: 150px;
  width: 200px;
}

